<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FutureLab Admin</title>
  <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
  <div id="admin-view" class="admin">
    <h1 class="admin-title">Панель администратора</h1>
    <button id="scan-order" class="admin-btn">
      <img src="/static/resources/box.svg" alt="box" class="btn-icon">
      Получить посылку
    </button>
    <div id="reader" class="hidden"></div>
    <p id="admin-msg"></p>
    <p><a href="/" class="back-btn">
      <img src="/static/resources/arrow-left.svg" alt="arrow left" class="back-icon">
      Вернуться на сайт
    </a></p>
  </div>

  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <script src="/static/js/admin.js"></script>
</body>
</html>